{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block main_info %}

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h1>Привет, я автор</h1>
      <p>
        Эта маленькая социальная сеть - мой первый опыт учебной разработки большого проекта.
        Другие мои работы можно посмотреть
        <a href='https://github.com/IrinaDemyanenko'>здесь :)</a>
      </p>
      <h2>Перед Вами учебный проект блог-платформы</h2>
      <p>
        Это простой социальный проект с встроенным API, повторяющим все функции, доступные в вэб-версии приложения.
      </p>

      <h3>Возможности проекта:</h3>
      <ul>
        <li>Анонимный пользователь получает доступ к просмотру новостной ленты - постов зарегистрированных пользователей на главной странице сайта.</li>
        <li>У каждого поста есть своя страница, просмотр которой так же доступен анонимному пользователю.</li>
        <li>Посты делятся на категории - группы. Группы может создавать только администратор сайта, пользователи могут отнести свою публикацию к одной из существующих групп.</li>
        <li>Анонимный пользователь может зарегистрироваться и перейти в новую категорию - пользователь сервиса.</li>
        <li>Пользователю доступен личный кабинет (profile), возможность изменить или восстановить пароль, а так же выйти из сервиса и перейти в прежнюю категорию - анонимного посетителя.</li>
        <li>Пользователю доступны те же возможности, что и анонимному посетителю, а также расширенные функции:
          <ul>
            <li>создавать/редактировать/удалять посты;</li>
            <li>по желанию к публикации можно добавить изображение;</li>
            <li>оставлять комментарии под постами;</li>
            <li>подписываться на/отписываться от других авторов.</li>
          </ul>
        </li>
      </ul>

      <h3>Возможности API проекта:</h3>
      <p>
        API к проекту создано на базе Django Rest Framework. Аутентификация JWT + Djoser.
        Для обеспечения безопасности проекта, время действия токена ограничено 360 днями.
      </p>
      <p>
        Во избежание повышенной нагрузки на сервер проекта, добавлены ограничения (throttlings):
        <ul>
          <li>для пользователей: 100 запросов в минуту;</li>
          <li>для анонимных посетителей: 10 запросов в минуту.</li>
        </ul>
      </p>

      <h3>Документация API:</h3>
      <p>
        Для удобства и скорости выдачи ответа, добавлено разбиение выдачи на страницы (pagination): 10 объектов на страницу.
        Настоящее API открытое - доступ разрешен ко всем адресам с префиксом /api/.
      </p>
      <p>
        Настроен автоматический способ создания документации Open API, с помощью приложения drf-spectacular.
      </p>
      <p>
        В настоящий момент доступна единственная версия API, документацию к которой можно подробно изучить, после запуска сервера, по адресам:
        <ul>
          <li>..../api/v1/docs/swagger/</li>
          <li>..../api/v1/docs/redoc/</li>
        </ul>
      </p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <!-- Блок с изображением -->
      <div class="author-photo">
        {% comment %} <img src="/static/img/author.jpeg" alt="Фото не загрузилось, увы:"> {% endcomment %}
        <img src="/static/img/author.jpeg" alt="Фото не загрузилось, увы:" style="width: 100%; height: 100vh; object-fit: cover; object-position: center; border-radius: 8px;">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% comment %} {% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block main_info %}

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h1>Привет, я автор</h1>
        <p>
          Эта маленькая социальная сеть - мой первый опыт учебной разработки большого проекта.
          Другие мои работы можно посмотреть
          <a href='https://github.com/IrinaDemyanenko'>здесь :)</a>
        </p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <!-- Стили для изображения -->
      <div class="author-photo">
        <img src="/static/img/author.jpeg" alt="Фото не загрузилось, увы:">
      </div>
    </div>
  </div>
</div>
{% endblock %} {% endcomment %}
