{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ title }}{% endblock %}

{% block main_info %}

  <div class="container py-2">
    <h3>{{ title }}</h3>
  </div>

<!--Виджет переключения лент -->
{% include "includes/switcher.html" %}
<!--Здесь будет код паджинатора с добавлением ленты новостей
по 10 на страницу -->
<div class="container py-5">

  {% for post in page_obj %}
    <h4><b>{{ post.title }}</b></h4>
    {% if post.anons %}
      <i>{{ post.anons }}</i>
    {% endif %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post.text|truncatewords:30 }}</p>
    <a href="{% url 'posts:post_detail' post_id=post.id %}">
      подробная информация
    </a>
    <ul>
        <li>
          Автор:<a href="{% url 'posts:profile' post.author.username %}">
            {{ post.author.username }}
          </a>
        </li>
        <li>
             Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
    {% if post.group %}
        <li> Все записи группы: 
        <a href="{% url 'posts:group_list' post.group.slug %}">
            {{ post.group.title }}
        </a>
        <!--posts это пространство имён, прописанное в join/urls.py
        а group_list это name из path -->
        <!--из модели post берём поле group, а из поля group берём slug-->
    {% endif %}
    </ul>
    {% if not forloop.last %}
        <hr>  <!--горизонтальная линия horizontal rule-->
    {% endif %}
{% endfor %} <!--двойные фигурные скобки, обращение к словарю из
                    view функции -->

</div> 

  {% include "includes/paginator.html" %}
  <!--добавляем созданный нами код навигации по страницам --> 
  <!--представляем, что уже находимся внутри папки templates внутри приложения-->

{% endblock %}  