{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
  Страница группы {{ group.title }}
{% endblock %}

{% block main_info %}
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
       <h2>{{ group.title }}</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p>{{ group.description|linebreaks }}</p>
      {% for post in page_obj %}
        <ul>
            <li class="list-group-item">
                Автор:
                <a href="{% url "posts:profile" post.author.username %}">{{ post.author.username }}</a>
            </li>
            <li class="list-group-item">
                Дата публикации: {{ post.pub_date|date:'d E Y' }}
            </li>
        </ul>
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <h3>{{ post.title}}</h3>
        <h5>{{ post.anons}}</h5>
        <p>{{ post.text|linebreaks|truncatewords:30 }}</p>
        <p>
          <a href="{% url "posts:post_detail" post.pk %}">Подробная информация</a>
        </p>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </div>
  </div>
</div>

    {% include "includes/paginator.html" %}

{% endblock %}
