{% extends "base.html" %}
{% load uglify %}

{% block title %}
  {% if is_edit %} Редактировать запись {% else %} Добавить запись {% endif %}
{% endblock %}

{% block main_info %}

<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">       
            {% if is_edit %} Редактировать пост {% else %} Создать новый пост {% endif %}
          </div>
          <!--Проверка на ошибки-->
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.label }}: {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
          {% endif %}
          <div class="card-body">        
            <form method="post" action={% if post %}
              "{% url 'posts:post_edit' post_id=post.id %}"{% else %}
              "{% url 'posts:post_create' %}"{% endif %}>
              <!--Если пост существует, значит вызывается путь "редактировать пост",
              если же нет, то путь "создать пост";
              post_id=post.id значит, что редактируется именно выбранный пост из БД-->
            {% csrf_token %}
              {% for field in form %}    
              <div class="form-group row my-3 p-3">
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %} <!--если вложенное поле в поле требует-->                  
                  <span class="required text-danger">*</span>
                  {% endif %}                  
                </label>
                {{ field }}
                {% if field.help_text %} <!--если у поля есть пояснительный маленький текст снизу-->           
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                  {{ field.help_text|safe }}
                </small>
                {% endif %}
              </div>
              {% endfor %}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  {% if is_edit %} Сохранить {% else %} Добавить {% endif %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}